<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clients</title>
    <link rel="stylesheet" th:href="@{/css/tables_css.css}">
</head>
<body>
<h1>Таблица "Клиенты"</h1>

<div>
  <table id="clients-table">
    <tbody id="clients-body">
    </tbody>
  </table>
</div>
<div>
  <button id="addClient">Добавить клиента</button>
</div>
<br>
<div>
  <button id="returnOnMainPage">Вернуться на главную страницу</button>
</div>
<script th:src="@{/js/clients.js}"></script>
</body>
</html>