<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Orders form</title>
</head>
<body>
<div>
  <label for="bookId">ID книги</label><br>
  <input type="text" id=bookId><br>
  <label for="clientId">ID клиента</label><br>
  <input type="text" id=clientId><br>
  <label for="amount">Количество</label><br>
  <input type="text" id=amount><br>

</div>

<div>
  <button id="save_change">Принять изменения</button>
</div>

</body>
<script th:src="@{/js/editPurchase.js}"></script>
</html>