<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book form</title>
</head>
<body>
<div>
  <label for="title">Название</label><br>
  <input type="text" id=title><br>
    <label for="authorName">Имя автора</label><br>
    <input type="text" id=authorName><br>
    <label for="genre">Жанр</label><br>
    <input type="text" id=genre><br>
    <label for="price">Цена</label><br>
    <input type="text" id = price><br><br>
</div>

<div>
    <button id="save_change">Принять изменения</button>
</div>

</body>
<script th:src="@{/js/editBook.js}"></script>
</html>