<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>BookStore</title>
    <link rel="stylesheet" th:href="@{/css/tables_css.css}">
</head>
<body>
<div>
<table id="books-table">
    <tbody id="books-body">
    </tbody>
</table>
</div>
    <div>
        <button id="change_books">Изменить таблицу</button>
    </div>
<div>
<table id="clients-table">
    <tbody id="clients-body">
    </tbody>
</table>
</div>
    <div>
        <button id="change_clients">Изменить таблицу</button>
    </div>
<div>
<table id="purchases-table">
    <tbody id="purchases-body">
    </tbody>
</table>
</div>
    <div>
        <button id="change_buy_books">Изменить таблицу</button>
    </div>
</body>

<script th:src="@{/js/main.js}"></script>

</html>